In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

# Yahoo Finance API for Python to provide live cryptocurrency data with less then a second lag

In [2]:
data = yf.download(tickers='BTC-USD', period='22h', interval='5m')

# Yahoo Finance API arguments: Tickers || Start Date + End Date || Interval
#period - 22 last hours (argument_2)
#interval = interval of 5 minutes (argument_3)

[*********************100%%**********************]  1 of 1 completed

In [3]:
data

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2024-04-15 19:10:00+00:00,62849.699219,63149.785156,62849.699219,63149.785156,63149.785156,0
2024-04-15 19:15:00+00:00,63095.683594,63095.683594,62810.527344,62810.527344,62810.527344,102834176
2024-04-15 19:20:00+00:00,62705.246094,63151.132812,62705.246094,63151.132812,63151.132812,107311104
2024-04-15 19:25:00+00:00,63160.589844,63247.425781,63133.468750,63133.468750,63133.468750,192176128
2024-04-15 19:30:00+00:00,63139.304688,63449.929688,63139.304688,63397.136719,63397.136719,80596992
...,...,...,...,...,...,...
2024-04-16 15:45:00+00:00,61980.164062,62007.441406,61937.562500,62007.441406,62007.441406,2338816
2024-04-16 15:50:00+00:00,61841.140625,61878.183594,61822.867188,61878.183594,61878.183594,30412800
2024-04-16 15:55:00+00:00,61856.207031,62044.406250,61856.207031,61914.695312,61914.695312,58437632
2024-04-16 16:00:00+00:00,61834.855469,61851.011719,61804.886719,61851.011719,61851.011719,9949184
2024-04-16 16:05:00+00:00,61878.156250,61966.554688,61878.156250,61966.554688,61966.554688,11354112

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 252 entries, 2024-04-15 19:10:00+00:00 to 2024-04-16 16:05:00+00:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       252 non-null    float64
 1   High       252 non-null    float64
 2   Low        252 non-null    float64
 3   Close      252 non-null    float64
 4   Adj Close  252 non-null    float64
 5   Volume     252 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.8 KB

In [5]:
# dataframe to be stored in CSV file
data.to_csv('livebitcoindata.csv')